.header-div{
  background-image: url(images/purple-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header
{
    
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}


.name{
  color: white;
  position: absolute;
  left: 2%;
  font-size: 40px;
  font-family: cursive;
}

.headerbutton{
    padding: 2px 20px;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

#homebutton{
    font-weight: 500;
    font-size: 24px;
}

#contactme{
  border: 2px solid white;
  border-radius: 50px;
  margin: 0px 30px;
  color: #5E17EB;
  background-color: white;
}


.href{
  text-decoration: none;
}

.main-div{
  background-image: url(images/purple-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  height: 300px;
}

.main-left{
  align-content: center;
  width: 60%;
  height: 300px;
}



.main-left-section-1{
  
  justify-content: center;
  background-size: contain;
  margin: 3% 0 0 0;
}



.web-development{
  color: white;
  font-size: 400%;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 2% 0 0 0;
  padding: 0%;
}

.skills{
  color: white;
  font-size: 120%;
  text-align: center;
}

.content{
  color: white;
  text-align: center;
  font-size: 95%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin: 0%;
}

.main-left-section-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}

.my-projects{
  background-color:#E2A9F1;
  border-radius: 30px;
  border: 2px solid black;
  color: white;
  padding: 0.5% 3%;
  margin: 3% 5% 5% 2%;
}

.download-cv{
  background-color: transparent;
  border:none;
  font-size: 17px;
  text-decoration: underline;
  color: white;
  margin: 3% 0 5% 0;
}

.main-right{
  display: flex;
  justify-content: center;
  width: 40%;
}

.avatar{
  width: auto;
  position: relative;
  right: 12%;
  height: 111%;
}



.seperator{
  background-color: rgba(0, 0,0, 0.3);
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seperator-list{
  font-size: 20px;
  padding: 0 3.7%;
  margin: 0;
}



.second-div{
  background-image: url(images/background-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  height: 100%;
}
